<div class="container">
  <form #f='ngForm'>
    <div class="row my-5">
      <div class="col-12 mb-4">
        <h4 class='text-center'>Login to your account</h4>
      </div>
      <div class="col-12 col-sm-6 mx-auto text-center mb-2">
        <mat-form-field class="full-width">
          <input type="text" matInput placeholder="Email address" required email [(ngModel)]='login.email' name='email'>
          <mat-error *ngIf='f?.controls?.email?.invalid'>Please enter a valid email address</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Password" required [(ngModel)]='login.password' name='password'>
          <mat-error *ngIf='f?.controls?.email?.invalid'>Please enter your password</mat-error>
        </mat-form-field>
        <button mat-button class="full-width my-2" (click)='onEmailSignin(login)'>
          Login
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="col-12 text-center">
        <button mat-button class="col-12 col-sm-6 my-2" (click)='onGoogleLogin()'>
          Login with Google
        </button>
        <!-- <a href='#' class='my-2' (click)='dialogRef.close("reset-password")'>
          <h6>Forgot your password?</h6>
        </a>
        <a href='#' class='my-2' (click)='dialogRef.close("register")'>
          <h6>Create an account</h6>
        </a> -->
      </div>
    </div>
  </form>
</div>