table{
  width: 100%;
}

td.mat-cell, th.mat-header-cell{
  padding: 5px;
}
mat-paginator div.mat-paginator-range-actions{
  display:none;
}
.orders-container .mat-card-content{
  overflow-x: auto;
}
.table-container{
  min-width: 600px;
}