<div class="row">
    <div class="col-12 mb-3">
      <mat-card>
        <h3>Create a new order</h3>
      </mat-card>
    </div>
    <div class="col-12">
      <mat-card>
        <mat-vertical-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Select your order type</ng-template>
              <div class='order-type my-3'>
                <mat-radio-group aria-label="Select an option" formControlName='type'>
                  <mat-radio-button value="In">In</mat-radio-button>
                  <mat-radio-button value="Carry out">Carry out</mat-radio-button>
                  <mat-radio-button value="Pick up">Pick up</mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <ng-container *ngIf="firstFormGroup?.controls?.type?.value === 'In'">
            <mat-step [stepControl]="firstFormGroup.controls?.guests">
              <form [formGroup]='firstFormGroup.controls?.guests'>
                <ng-template matStepLabel>How many guests?</ng-template>
                <div class="my-3">
                  <mat-form-field>
                    <mat-label>Number of guests</mat-label>
                    <input matInput type="number" formControlName='guests'>
                  </mat-form-field>
                </div>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Select your table</ng-template>
                <!-- <mat-form-field>
                  <mat-label>Address</mat-label>
                  <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field> -->
                <div class="my-3">
                  <app-table-availability (selectTable)='onSelectTable($event)'></app-table-availability>
                </div>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
          </ng-container>
          <mat-step>
            <ng-template matStepLabel>Confirm</ng-template>
            <ng-container *ngIf='firstFormGroup?.controls?.type?.value as type'>
              <p>
                Type:
                <b>{{ type }}</b>
              </p>
              <p *ngIf='type === "In" && thirdFormGroup?.controls?.table?.value as table'>
                Table :
                <b>{{ table.label }}</b>
              </p>
              <p *ngIf='type === "In" && secondFormGroup?.controls?.guests?.value as guests'>
                Guests :
                <b>{{ guests }}</b>
              </p>
            </ng-container>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)='onCreateOrder()'>Continue</button>
              <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card>
    </div>
  </div>