<h1 mat-dialog-title>Update {{ documentName }}</h1>
<form #f='ngForm' *ngIf='data?.object'>
  <div class="col-12 col-sm-10 col-md-9 col-lg-8 mx-auto crud-update">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" [ngModel]='data.object.name' name='name' required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput [ngModel]='data.object.description' name='description' required rows='4'></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Price</mat-label>
      <input matInput [ngModel]='data.object.price' name='price' required>
    </mat-form-field>
    <button mat-button class='mx-2' (click)='onUpdate(f.value)' [disabled]='f.invalid'>
      Update
    </button>
    <button mat-button class='mx-2' mat-dialog-close>
      Cancel
    </button>
  </div>
</form>