<div class="row">
  <div class="col-12">
    <ng-container *ngIf='categories$ | async as categories;else loadingCategories'>
      <mat-nav-list>
        <a mat-list-item (click)='onSelectCategory({name:"All"})'
          [ngClass]='{"active": activeCategory?.name === "All"}'>
          All
        </a>
        <a mat-list-item *ngFor='let category of categories' (click)='onSelectCategory(category)'
          [ngClass]='{"active": activeCategory?.name === category.name}'>
          {{ category.name }}
        </a>
      </mat-nav-list>
    </ng-container>
    <ng-template #loadingCategories>
      <mat-spinner class="mx-auto"></mat-spinner>
    </ng-template>
  </div>
</div>