<h1 mat-dialog-title>Update {{ documentName }}</h1>
<form #f='ngForm' *ngIf='data?.object'>
  <div class="col-12 col-sm-10 col-md-9 col-lg-8 mx-auto crud-update">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" [ngModel]='data.object.label' name='label' required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Seats</mat-label>
      <input matInput type="number" [ngModel]='data.object.seats' name='seats' required>
    </mat-form-field>
    <button mat-button class='mx-2' (click)='onUpdate(f.value)' [disabled]='f.invalid'>
      Update
    </button>
    <button mat-button class='mx-2' mat-dialog-close>
      Cancel
    </button>
  </div>
</form>