<div class="row">
  <div class="col-12">
    <app-product-categories (selectCategory)='getProducts($event)'></app-product-categories>
  </div>
  <div class='col-12'>
    <div class="row">
      <ng-container *ngIf='products$ | async as products;else loadingProducts'>
        <div class="col-12 col-sm-4 col-md-6" *ngFor='let product of products'>
          <app-add-product [product]='product'></app-add-product>
        </div>
        <h6 *ngIf='!products?.length'>No products for this category</h6>
      </ng-container>
      <ng-template #loadingProducts>
        <div class="mx-auto">
          <h6>Loading products...</h6>
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>
</div>